{% extends './base.html' %}

<!-- lo que se ve en el navegador como titulo -->
{% block titulo  %}
/Contacto
{% endblock %}

<!-- bloque dinamico contenido -->
{% block contenido  %} 
<div class="container mt-3">
    <h2>clinica>contacto</h2>
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>Contenido de Contacto</h1> 
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p> 
    </div>
    </div>
{% endblock %}

